doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        link(rel="stylesheet", href="./css/main.css")
        title Sell Test
    body
        .features 
            .container 
                .features__intro 
                    h3 Explore SALL's Robust Features 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit libero quos dolor ratione molestias ab id repellendus obcaecati odit.
                .features__wrapper 
                    .features__item 
                        .features__title 
                            .features__title__icon.green 
                                i.fa-solid.fa-hashtag
                            h2 Cross-Platform Compatibility 
                        .features__description 
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur inventore exercitationem magnam, iure vero adipisci culpa maxime impedit temporibus voluptates, iure vero temporibus voluptates!
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur, impedit accusamus ipsam quidem aliquid!
                    
                    .features__item 
                        .features__title 
                            .features__title__icon.orange
                                i.fa-solid.fa-hashtag
                            h2 Multiple Token and Netork Support 
                        .features__description 
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur inventore exercitationem magnam, iure vero adipisci culpa maxime impedit temporibus voluptates!
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur, impedit accusamus ipsam quidem aliquid!
                    
                    .features__item 
                        .features__title 
                            .features__title__icon.blue 
                                i.fa-solid.fa-hashtag
                            h2 Audited Smart Contracts
                        .features__description 
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur inventore exercitationem magnam, iure vero adipisci culpa maxime impedit temporibus voluptates!
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur, impedit accusamus ipsam quidem aliquid!
                    